﻿@using Net.Easimer.Prog3.IssueTracker.WebApp.Models
@model ProjectModel 
@{
    ViewBag.Title = "ProjectDetails";
}

<h2>Project details</h2>

@Html.ActionLink("Back to the listing", "Index")

<table class="table">
    <tr><th scope="row">@Html.DisplayNameFor(m => m.Id)</th><td>@Html.DisplayFor(m => m.Id)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.Name)</th><td>@Html.DisplayFor(m => m.Name)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.Owner)</th><td>@Html.DisplayFor(m => m.Owner)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.OwnerName)</th><td>@Html.DisplayFor(m => m.OwnerName)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.Homepage)</th><td>@Html.DisplayFor(m => m.Homepage)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.CreationDate)</th><td>@Html.DisplayFor(m => m.CreationDate)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.Parent)</th><td>@Html.DisplayFor(m => m.Parent)</td></tr>
    <tr><th scope="row">@Html.DisplayNameFor(m => m.ParentProjectName)</th><td>@Html.DisplayFor(m => m.ParentProjectName)</td></tr>
</table>
