﻿@model IEnumerable<Net.Easimer.Prog3.IssueTracker.WebApp.Models.ProjectModel>

<h2>List of projects</h2>

@if(Model.Count() == 0)
{
    <h3>The list is empty!</h3>
}
else
{
    <table class="table">
        <tr>
            <th>@Html.DisplayNameFor(m => m.First().Name)</th>
            <th>@Html.DisplayNameFor(m => m.First().Owner)</th>
            <th>@Html.DisplayNameFor(m => m.First().Homepage)</th>
            <th>Details</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach(var proj in Model)
        {
            <tr>
                <td>@Html.DisplayFor(_ => proj.Name)</td>
                <td>@Html.DisplayFor(_ => proj.OwnerName)</td>
                <td><a href="@Html.DisplayFor(_ => proj.Homepage)">@Html.DisplayFor(_ => proj.Homepage)</a></td>
                <td>@Html.ActionLink("Details", "Details", new { id = proj.Id })</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = proj.Id })</td>
                <td>@Html.ActionLink("Delete", "Delete", new { id = proj.Id })</td>
            </tr>
        }
    </table>
}
