﻿@model Net.Easimer.Prog3.IssueTracker.WebApp.Models.ProjectsViewModel
@{
    ViewBag.Title = "ProjectIndex";
}

<h2>Projects index</h2>
<p>@TempData["editResult"]</p>

@Html.Partial("ProjectEditView", Model.Edited)
@Html.Partial("ProjectListView", Model.Projects)
