﻿@model Net.Easimer.Prog3.IssueTracker.WebApp.Models.ProjectModel

<h2>Project editor</h2>

@using (Html.BeginForm("Edit", "Projects"))
{
    @Html.ValidationSummary()
    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.OwnerName)
    @Html.HiddenFor(m => m.ParentProjectName)
    @Html.HiddenFor(m => m.Parent)
    @Html.Hidden("editAction", ViewData["editAction"].ToString())

    <div class="editor-label">@Html.LabelFor(m => m.Name)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Name)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Homepage)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Homepage)</div>

    <div class="editor-label">@Html.LabelFor(m => m.CreationDate)</div>
    <div class="editor-field">@Html.EditorFor(m => m.CreationDate)</div>

    <div class="editor-label">@Html.LabelFor(m => m.Owner)</div>
    <div class="editor-field">@Html.EditorFor(m => m.Owner)</div>

    <input type="submit" />
}

